{% extends "base.html" %}
{% block title %}Список товаров{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <form action="{{ url_for('product_find') }}" method="POST">
            {% if info != '' %}
            <a class="navbar-brand">{{ info }}</a>
            {% else %}
            <a class="navbar-brand">Поиск по</a>
            <select id="k_find" name="k_find">
                <option value="">-- Выберите --</option>
                <option value="id">Артикулу</option>
                <option value="name">Названию</option>
                <option value="dep">Описанию</option>
                <option value="count">Количеству</option>
                <option value="prise">Цене</option>
            </select>
            <a class="navbar-brand"> </a>

            <input type="text" id="i_find" name="i_find" required minlength="1" maxlength="100" size="10"/>
            <a class="navbar-brand"> </a>
            <button style="background-color: #0D6EFD; color:white; border-radius:5px" type="submit">
                Искать
            </button>
            {% endif %}
            <a class="navbar-brand">сортировки</a>
        </form>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/product/add" class="btn btn-primary">Добавить товар</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% if info != 'Нет информации'%}
<div class="table-responsive" style="width:900px">
    <table class="table table-striped table-bordered" width="100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col" width="1px">Артикул</th>
            <th scope="col">Название</th>
            <th scope="col">Дополнительно</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена поставщика</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for product in groceries %}
        <tr>
            <td width="1%" height="1px">{{ product.id }}</td>
            <td width="1%" height="1px">{{ product.name }}</td>
            <td width="10%" height="1px">{{ product.description }}</td>
            <td width="5%" height="1px">
                <a href="{{ url_for('edit_count', id=product.id, dop=0) }}"
                   style="width:17px;height:90px; background-color: red; display:inline; color:white"
                   class="btn btn-sm mx-1">-</a>
                {{ product.count }}
                <a href="{{ url_for('edit_count', id=product.id, dop=2) }}"
                   style="width:17px;height:90px; background-color: green; display:inline; color:white"
                   class="btn btn-sm mx-1">+</a>
            </td>
            <td width="1%" height="1px">{{ product.price }}</td>
            <td width="3%" height="1px">
                <a href="{{ url_for('edit_product', id=product.id) }}"
                   class="btn btn-sm btn-primary mx-1">Редактировать</a>
                <form method="post" action="{{ url_for('delete_product', id=product.id) }}" style="display: inline">
                    <button type="submit" class="btn btn-sm btn-danger mx-1">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%endif%}
{% endblock %}